body{
  font-family: 'Dosis', sans-serif;
  background-color: pink;
}
main{
  margin: 5% auto;
  width: 80%;
}
.main-title{
  font-size: 40px;
  color: white;
}
.sub-title{
  color: purple;
}
.festival{
  font-family: 'PT Sans Narrow', sans-serif;
}
.date{
  background-color: black;
  color: white;
  padding: 10px;
}
.teacher{
  border: solid 3px white;
  padding:10px;
}
.info{
  font-size:20px;
}
img{
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .3);
}
hr{
  color: gray;
  border:solid 2px;
}
a:link{
  color: purple;
  text-decoration: none;
}
a:hover{
  color: magenta;
  text-decoration: underline;
}
